*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Gabarito', cursive;
    background-color: var(--dk-primary);
}

header{
    width: 100%;
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-inline: 1rem;
    background-color: #DDDCDC;
    color: #050505;
}

.header-nav{
    background-color: #EEEEED;
    transition: background-color 0.5s, color 0.5s;
}

.preview p img{
    max-width: 100%;
    margin: .5rem 0.25rem;
    
    position: relative;
}

p:has(>img){
    text-align: center;
}

.img-ribbon{
    position: absolute;
    bottom: 2rem;
    right: 50%;
    transform: translateX(50%);
    z-index: 2;
    display: flex;
    gap: .25rem;
    opacity: 0.5;
}

.button-img{
    border: 1px solif black;
    background-color: white;
    color: #000;
    cursor: pointer;
}

.nav-items{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 7rem;
    list-style: none;
    margin-right: 3rem;
}

.nav-item a{
    color: white;
    text-decoration: none;
    font-size: 1.2rem;
}

.markdown-holder{
    width: 100%;
    height: 100%;
    border: 1px solid #ccc;
    border-radius: 5px;
    transition: background-color 0.5s, color 0.5s;
}

#textarea{
    resize: none;
    overflow: auto;
    transition: background-color 0.5s, color 0.5s;
}

.sub-container{
    font-size: 16px;
    width: 100%;
    height: calc(98% - 10vh);
    font-family: 'Roboto', sans-serif;
    color: #fff;
}


textarea::-webkit-scrollbar-track{
    background: transparent;
}

textarea::-webkit-scrollbar-thumb {
    background: #888; /* Set the thumb background color */
    border-radius: 5px; /* Rounded corners for the thumb */
}

.container-markdown{
    background-color: #d6d6cf;
    color:black;
    transition: background-color 0.5s, color 0.5s;
	border:none;
}

.container-preview{
    background-color: #F4F3ED;
    padding: 10px 0px 0px 10px;
    line-height: 25px;
    color: #000;
    line-height: 25px;
    transition: background-color 0.5s, color 0.5s;
}
.container-preview>a{
    color: #D7B867;
}
.btn-containers{
    width: 2.5rem;
    height: 2.5rem;
    display: flex;
    border: none;
    border-radius: 20%;
    align-items: center;
    justify-content: center;
    padding-inline: 1rem;
    background-color: #3DBCD6;
    color: rgb(251, 249, 235);
    font-weight: 600;
    cursor: pointer;
}
.preview-heading{
    color: black;
}
code{
    background-color: #4f4f4f;
    color: #fff;
    display: inline-block;
    white-space: pre-wrap;
    width: fit-content;
    padding: 0.15rem 0.35rem;
    margin: 5px 0;
    transition: background-color 0.5s, color 0.5s;
}

a{
    color: rgb(61, 138, 255);
}

ol, ul{
    list-style: circle;
}

h2, h3, h4, h5, h6{
    margin: 1.5rem 0 .5rem;
}

.paragraph-social{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.paragraph-social:only-child(){
    display: none;
}

.preview{
    height: 100%;
    overflow: auto;
}