*,
*::before,
*::after{
    box-sizing: border-box;
}
body{
    font-family: system-ui;
    margin: 0;
    background-color: black;
}
h1{
    line-height: 1.2em;
    font-size: 4em;
    max-width: 18ch;
    padding-left:120px;
    color: white;
    margin:0px;
}
.text-container{
    padding-top: 2em;
}
canvas {
    width: 100%;
}
.canvas-container{
    height: 60vh;
    clip-path: polygon(0 0, 100% 0%, 100% 35%, 0 100%);
}

.container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    gap: 50px;
    position: absolute;
    top: 6rem;
    padding: 0em 2em 0em 2em;
}

.text-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 40px;
}
.text-container>button{
    width: 8em;
    font-size: 1.5em;
    padding: 15px;
    text-align: center;
    text-transform: uppercase;
    font-family: sans-serif;
    font-weight: 600;
    color: white;
    border: none;
    outline: none;
    border: 1px solid whitesmoke;
    background-color: black;
    transition: box-shadow 0.4s ease-in-out;
}
.text-container>button:hover{
    box-shadow: 10px 10px gray;
}
.text{
    display: inline-block;
    opacity: 1;
    transition: opacity 0.5s;    
}

.image_container{
    width: 40%;
    background: rgba( 255, 255, 255, 0.05 );
backdrop-filter: blur( 6.5px );
-webkit-backdrop-filter: blur( 6.5px );
border-radius: 10px;
}
